In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
Macros = pd.read_csv('macros_dataset.csv')
Macros.head()

,food_name,proteins_100g,carbohydrates_100g,fat_100g,energy_100g,category_name,origin,diet_type
0,Alaskan salmon,25.4,0.0,6.7,170.0,Fish,Animal,Omnivorous
1,Almonds,21.3,19.7,50.6,577.0,Nuts,Non-animal,Vegan
2,Amaranth,14.5,66.2,6.5,374.0,Grains,Non-animal,Vegan
3,Anchovies,29.0,0.0,9.7,210.0,Fish,Animal,Omnivorous
4,Asparagus,2.4,4.1,0.2,22.0,Vegetables,Non-animal,Vegan

In [3]:
Macros.shape

(60, 8)

In [4]:
len(Macros)

60

In [5]:
Macros.describe()

       proteins_100g  carbohydrates_100g   fat_100g  energy_100g
count      60.000000           60.000000  60.000000    60.000000
mean       19.263333           10.483333  13.256667   231.566667
std        10.176093           15.565348  16.035473   163.310935
min         2.000000            0.000000   0.200000    22.000000
25%        12.475000            0.375000   1.975000   114.000000
50%        21.000000            4.050000   6.450000   164.000000
75%        25.175000           15.825000  20.925000   314.250000
max        57.500000           67.400000  65.200000   653.000000

In [7]:
Macros.isna().sum()

food_name             0
proteins_100g         0
carbohydrates_100g    0
fat_100g              0
energy_100g           0
category_name         0
origin                0
diet_type             0
dtype: int64

In [9]:
Macros['origin'].unique()

array(['Animal', 'Non-animal'], dtype=object)

In [10]:
# Create X (all the feature columns)
x = Macros.drop('origin', axis=1)
# Create y (the target column)
y = Macros['origin']

In [11]:
x.shape

(60, 7)

In [12]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [15]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100)

In [16]:
x.columns

Index(['food_name', 'proteins_100g', 'carbohydrates_100g', 'fat_100g',
       'energy_100g', 'category_name', 'diet_type'],
      dtype='object')

In [17]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['food_name', 'proteins_100g', 'carbohydrates_100g', 'fat_100g',
       'energy_100g', 'category_name', 'diet_type']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")
transformed_X = transformer.fit_transform(x)
transformed_X

<60x280 sparse matrix of type '<class 'numpy.float64'>'
	with 420 stored elements in Compressed Sparse Row format>

In [18]:
transformed_X[0]

<1x280 sparse matrix of type '<class 'numpy.float64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [19]:
pd.DataFrame(transformed_X)

                                                    0
0     (0, 0)\t1.0\n  (0, 98)\t1.0\n  (0, 110)\t1.0...
1     (0, 1)\t1.0\n  (0, 88)\t1.0\n  (0, 140)\t1.0...
2     (0, 2)\t1.0\n  (0, 76)\t1.0\n  (0, 151)\t1.0...
3     (0, 3)\t1.0\n  (0, 104)\t1.0\n  (0, 110)\t1....
4     (0, 4)\t1.0\n  (0, 62)\t1.0\n  (0, 125)\t1.0...
5     (0, 5)\t1.0\n  (0, 60)\t1.0\n  (0, 133)\t1.0...
6     (0, 6)\t1.0\n  (0, 61)\t1.0\n  (0, 147)\t1.0...
7     (0, 7)\t1.0\n  (0, 69)\t1.0\n  (0, 143)\t1.0...
8     (0, 8)\t1.0\n  (0, 62)\t1.0\n  (0, 131)\t1.0...
9     (0, 9)\t1.0\n  (0, 82)\t1.0\n  (0, 111)\t1.0...
10    (0, 10)\t1.0\n  (0, 81)\t1.0\n  (0, 148)\t1....
11    (0, 11)\t1.0\n  (0, 96)\t1.0\n  (0, 114)\t1....
12    (0, 12)\t1.0\n  (0, 79)\t1.0\n  (0, 149)\t1....
13    (0, 13)\t1.0\n  (0, 106)\t1.0\n  (0, 110)\t1...
14    (0, 14)\t1.0\n  (0, 69)\t1.0\n  (0, 145)\t1....
15    (0, 15)\t1.0\n  (0, 99)\t1.0\n  (0, 129)\t1....
16    (0, 16)\t1.0\n  (0, 90)\t1.0\n  (0, 110)\t1....
17    (0, 17)\t1.0\n  (0, 73)\t1.0\n  (0, 119)\t1....
18    (0, 18)\t1.0\n  (0, 63)\t1.0\n  (0, 127)\t1....
19    (0, 19)\t1.0\n  (0, 86)\t1.0\n  (0, 110)\t1....
20    (0, 20)\t1.0\n  (0, 107)\t1.0\n  (0, 116)\t1...
21    (0, 21)\t1.0\n  (0, 89)\t1.0\n  (0, 110)\t1....
22    (0, 22)\t1.0\n  (0, 96)\t1.0\n  (0, 115)\t1....
23    (0, 23)\t1.0\n  (0, 72)\t1.0\n  (0, 135)\t1....
24    (0, 24)\t1.0\n  (0, 74)\t1.0\n  (0, 112)\t1....
25    (0, 25)\t1.0\n  (0, 75)\t1.0\n  (0, 125)\t1....
26    (0, 26)\t1.0\n  (0, 68)\t1.0\n  (0, 117)\t1....
27    (0, 27)\t1.0\n  (0, 64)\t1.0\n  (0, 126)\t1....
28    (0, 28)\t1.0\n  (0, 67)\t1.0\n  (0, 124)\t1....
29    (0, 29)\t1.0\n  (0, 101)\t1.0\n  (0, 110)\t1...
30    (0, 30)\t1.0\n  (0, 93)\t1.0\n  (0, 110)\t1....
31    (0, 31)\t1.0\n  (0, 86)\t1.0\n  (0, 110)\t1....
32    (0, 32)\t1.0\n  (0, 104)\t1.0\n  (0, 110)\t1...
33    (0, 33)\t1.0\n  (0, 70)\t1.0\n  (0, 141)\t1....
34    (0, 34)\t1.0\n  (0, 84)\t1.0\n  (0, 114)\t1....
35    (0, 35)\t1.0\n  (0, 91)\t1.0\n  (0, 110)\t1....
36    (0, 36)\t1.0\n  (0, 89)\t1.0\n  (0, 118)\t1....
37    (0, 37)\t1.0\n  (0, 92)\t1.0\n  (0, 132)\t1....
38    (0, 38)\t1.0\n  (0, 77)\t1.0\n  (0, 152)\t1....
39    (0, 39)\t1.0\n  (0, 105)\t1.0\n  (0, 126)\t1...
40    (0, 40)\t1.0\n  (0, 108)\t1.0\n  (0, 122)\t1...
41    (0, 41)\t1.0\n  (0, 97)\t1.0\n  (0, 139)\t1....
42    (0, 42)\t1.0\n  (0, 103)\t1.0\n  (0, 138)\t1...
43    (0, 43)\t1.0\n  (0, 85)\t1.0\n  (0, 146)\t1....
44    (0, 44)\t1.0\n  (0, 104)\t1.0\n  (0, 137)\t1...
45    (0, 45)\t1.0\n  (0, 65)\t1.0\n  (0, 142)\t1....
46    (0, 46)\t1.0\n  (0, 71)\t1.0\n  (0, 120)\t1....
47    (0, 47)\t1.0\n  (0, 95)\t1.0\n  (0, 110)\t1....
48    (0, 48)\t1.0\n  (0, 87)\t1.0\n  (0, 123)\t1....
49    (0, 49)\t1.0\n  (0, 83)\t1.0\n  (0, 113)\t1....
50    (0, 50)\t1.0\n  (0, 66)\t1.0\n  (0, 128)\t1....
51    (0, 51)\t1.0\n  (0, 109)\t1.0\n  (0, 144)\t1...
52    (0, 52)\t1.0\n  (0, 80)\t1.0\n  (0, 121)\t1....
53    (0, 53)\t1.0\n  (0, 102)\t1.0\n  (0, 130)\t1...
54    (0, 54)\t1.0\n  (0, 81)\t1.0\n  (0, 134)\t1....
55    (0, 55)\t1.0\n  (0, 100)\t1.0\n  (0, 110)\t1...
56    (0, 56)\t1.0\n  (0, 94)\t1.0\n  (0, 110)\t1....
57    (0, 57)\t1.0\n  (0, 104)\t1.0\n  (0, 110)\t1...
58    (0, 58)\t1.0\n  (0, 78)\t1.0\n  (0, 136)\t1....
59    (0, 59)\t1.0\n  (0, 91)\t1.0\n  (0, 150)\t1....

In [20]:
# Let's refit the model
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                    y,
                                                    test_size=0.2)
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0

In [21]:
# Make predictions
y_preds = model.predict(X_test)

In [22]:
# Make predictions with probabilities
y_probs = model.predict_proba(X_test)

y_probs[:10], len(y_probs)

(array([[1.  , 0.  ],
        [0.17, 0.83],
        [0.97, 0.03],
        [0.06, 0.94],
        [0.99, 0.01],
        [0.16, 0.84],
        [0.09, 0.91],
        [0.18, 0.82],
        [0.13, 0.87],
        [0.98, 0.02]]),
 12)

In [23]:
y_probs_positive = y_probs[:10]
y_probs_positive[:10]

array([[1.  , 0.  ],
       [0.17, 0.83],
       [0.97, 0.03],
       [0.06, 0.94],
       [0.99, 0.01],
       [0.16, 0.84],
       [0.09, 0.91],
       [0.18, 0.82],
       [0.13, 0.87],
       [0.98, 0.02]])

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

      Animal       1.00      1.00      1.00         5
  Non-animal       1.00      1.00      1.00         7

    accuracy                           1.00        12
   macro avg       1.00      1.00      1.00        12
weighted avg       1.00      1.00      1.00        12

In [25]:
# Evaluating the model
print(f'training accuaracy: {model.score(X_train,y_train)}')

training accuaracy: 1.0

In [26]:
# Evaluating the model
print(f'testing accuaracy: {model.score(X_train,y_train)}')

testing accuaracy: 1.0

In [27]:
# Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {model.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 100.00%

Trying model with 20 estimators...
Model accuracy on test set: 100.00%

Trying model with 30 estimators...
Model accuracy on test set: 100.00%

Trying model with 40 estimators...
Model accuracy on test set: 100.00%

Trying model with 50 estimators...
Model accuracy on test set: 100.00%

Trying model with 60 estimators...
Model accuracy on test set: 100.00%

Trying model with 70 estimators...
Model accuracy on test set: 100.00%

Trying model with 80 estimators...
Model accuracy on test set: 100.00%

Trying model with 90 estimators...
Model accuracy on test set: 100.00%